/rocks_detection/Detection/img/
/rocks_detection/Detection/img2/
/rocks_detection/Detection/test/
/rocks_detection/Detection/train/
/rocks_detection/Detection/valid/
/rocks_detection/Detection/lunar_Base/
/rocks_detection/Detection/notTested/
/rocks_detection/Detection/poor_martian_Base/
/rocks_detection/Detection/trianNoise/
/rocks_detection/Detection/video/
