rock_detection/Detection/img/
rock_detection/Detection/img2/
/rocks_detection/Detection/img
/rocks_detection/Detection/img2
/rocks_detection/Detection/test
/rocks_detection/Detection/train
/rocks_detection/Detection/valid
/rocks_detection/Detection/lunar_Base
/rocks_detection/Detection/notTested
/rocks_detection/Detection/poor_martian_Base
build/
devel/
install/
log/

.catkin_workspace
.catkin_tools/
.colcon/
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

*.bag
*.bag.*
*.db3
*.mcap

.vscode/
.idea/
.DS_Store
Thumbs.db

.env
